<template>
  <div>
    <div class="timer">
      <button class="timer-btn" v-if="timer === 0 && game <= 0" @click="startGame">Старт</button>
      <button class="timer-btn" v-else @click="startGame">Начать новую игру</button>
      <div v-if="timer > 0" class="timer__text">{{ timer }}</div>
    </div>
    <div class="fields">
      <div class="fields__item" v-for="(icon, index) in icons" :data-index="index" :data-icon="icon"
           :class="[(arSelectedIcons.includes(icon)) ? 'disabled' : false, (index === selectedIcon) ? 'selected' : false]"
           @click="chooseIcon">
        <font-awesome-icon :icon="icon"/>
      </div>
    </div>
    <div v-if="game">Игра закончена ваш счет {{ game }}</div>
  </div>
</template>

<script>
export default {
  name: 'TheMemory',
  data: function () {
    return {
      arIcons: ['trash', 'pen', 'save', 'times', 'plus', 'chevron-up', 'chevron-down', 'file-csv', 'ad', 'ruler', 'anchor', 'file', 'atom', 'book', 'caret-left'],
      icons: [],
      selectedIcon: '',
      arSelectedIcons: [],
      clicks: 0,
      canChoose: true,
      timer: 0,
      startTimer: '',
      thinkTimer: '',
      game: 0,
    }
  },
  created() {

  },
  methods: {
    startGame: function () {
      this.icons = this.arIcons.concat(this.arIcons)
      this.sortIcons()
      this.$store.dispatch('removeSelectedIconAction')
      this.arSelectedIcons = []
      this.timer = 0
      if (this.timer === 0) {
        this.startTimer = setInterval(() => {
          this.timer++
        }, 1000)
      } else {
        clearInterval(this.startTimer)
      }
      if (this.game) {

      }
    },
    chooseIcon: function (event) {
      if (this.canChoose) {
        let currentIcon = event.currentTarget.getAttribute('data-index')
        let selectedIcon = this.$store.state.selectedIcon
        console.log(selectedIcon)
        console.log(currentIcon)
        if (currentIcon === selectedIcon) {
          return
        }
        let fields = document.querySelectorAll('.fields__item')
        event.currentTarget.classList.add('selected')
        if (currentIcon && selectedIcon) {
          this.canChooseIcon()
          clearInterval(this.thinkTimer)
          setTimeout(function () {
            document.querySelector('.fields__item[data-index="' + selectedIcon + '"]').classList.remove('selected')
            document.querySelector('.fields__item[data-index="' + currentIcon + '"]').classList.remove('selected')
          }, 2000)
        }
        if (this.arSelectedIcons.includes(currentIcon) && event.currentTarget.classList.contains('selected')) {

        } else {
          if (selectedIcon) {
            this.$store.dispatch('addIconAction', '')
            let selectedIconData = document.querySelector('.fields__item[data-index="' + selectedIcon + '"]').getAttribute('data-icon')
            let currentIconData = document.querySelector('.fields__item[data-index="' + currentIcon + '"]').getAttribute('data-icon')
            if (selectedIconData === currentIconData) {
              this.$store.dispatch('addSelectedIconAction', currentIconData)
            }
          } else {
            this.$store.dispatch('addIconAction', currentIcon)
            let seconds = 5;
            this.thinkTimer = setInterval(() => {
              console.log(seconds)
              if (seconds-- > 0) {
              } else {
                clearInterval(this.thinkTimer)
                this.clicks = 0
                this.$store.dispatch('addIconAction', '')
                for (let i = 0; i < fields.length; i++) {
                  fields[i].classList.remove('selected')
                }
              }
            }, 1000)
          }
          this.arSelectedIcons = this.$store.state.arSelectedIcons
        }
      }
      if (this.arSelectedIcons.length === this.arIcons.length) {
        this.$store.dispatch('setTimeAction', this.timer)
        this.game = this.$store.state.time
        this.timer = 0
        clearInterval(this.startTimer)
      }
    },
    canChooseIcon: function () {
      this.canChoose = false
      let seconds = 1
      let secondsTimer = setInterval(() => {
        if (seconds-- > 0) {
          //seconds--
        } else {
          this.canChoose = true
          clearInterval(secondsTimer)
        }
      }, 1000)
    },
    sortIcons: function () {
      let j, temp;
      for (let i = this.icons.length - 1; i > 0; i--) {
        j = Math.floor(Math.random() * (i + 1));
        temp = this.icons[j];
        this.icons[j] = this.icons[i];
        this.icons[i] = temp;
      }
    }
  },
}
</script>

<style>
.fields {
  display: flex;
  flex-wrap: wrap;
  margin-top: 50px;
}

.fields__item {
  flex: 0 0 calc(100% / 6);
  padding: 30px;
  box-sizing: border-box;
  font-size: 50px;
  border: 1px solid;
  cursor: pointer;
}

.fields__item svg {
  opacity: 0;
  -webkit-transition: all 0.2s;
  -moz-transition: all 0.2s;
  -ms-transition: all 0.2s;
  -o-transition: all 0.2s;
  transition: all 0.2s;
}

.fields__item.selected svg {
  opacity: 1;
}

.fields__item.disabled svg {
  opacity: 0.1;
}

.timer {
  margin-top: 20px;
}

.timer-btn {
  padding: 10px 15px;
}
</style>
