<template>
  <div class="rooms">
    <div class="rooms__item" v-for="(room, index) in rooms" :key="room.id">
      <span class="rooms__item-like" :class="(arLiked.includes(index)) ? ' active' : ''" @click="adLike(index)"><font-awesome-icon
          :icon="'heart'"/></span>
      <div class="rooms__item-img"></div>
      <div class="rooms__item-desc">
        <div class="title">{{ room.attributes.title }}</div>
        <div class="text">комнат: {{ room.attributes.rooms }}</div>
        <div class="text">площадь: {{ room.attributes.area }} кв.м.</div>
        <div class="text">адрес: ул. {{ room.attributes.address.street }}, д.
          {{ room.attributes.address.house }}, кв. {{ room.attributes.address.room }}
        </div>
      </div>
    </div>
  </div>
</template>
<script>
import axios from 'axios'

export default {
  name: 'TheRooms',
  data: () => ({
    rooms: {},
    arLiked: [],
  }),
  created() {
    axios
        .get('./entities.json', {
          withCredentials: true,
        })
        .then(response => (this.rooms = response.data.response));

    this.arLiked = this.$store.state.arLiked
  },
  methods: {
    adLike: function (index) {
      this.$store.dispatch('addLikeAction', index)
    }
  },
}
</script>
<style>
.rooms {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 12px;
  margin-top: 50px;
}

.rooms__item {
  padding: 5px;
  border: 1px solid #2c3e50;
  box-sizing: border-box;
  position: relative;
}

.rooms__item-img {
  height: 233px;
  background-color: #2c3e50;
}

.rooms__item-desc {
  padding: 10px 5px;
  text-align: left;
}

.title {
  font-weight: bold;
  color: #009cf0;
  margin-bottom: 10px;
}

.text {
  color: #8f8f8f;
  font-size: 14px;
}

.rooms__item-like {
  color: #f5c9c9;
  padding: 10px;
  position: absolute;
  background-color: #fff;
  right: 5px;
  top: 5px;
  cursor: pointer;
}

.rooms__item-like.active {
  color: #e50000;
}

@media (max-width: 992px) {
  .rooms {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
}

@media (max-width: 768px) {
  .rooms {
    display: grid;
    grid-template-columns: 1fr;
  }
}
</style>