<template>
  <div id="app">
    <TheMemory/>
    <TheRooms/>
  </div>
</template>

<script>
import TheMemory from './components/TheMemory.vue'
import TheRooms from './components/TheRooms.vue'

export default {
  name: 'App',
  components: {
    TheMemory,
    TheRooms,
  }
}
</script>

<style>
#app {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
  margin-top: 60px;
}
</style>
